.webex-select, input.webex-solveme,
.unchecked .webex-radiogroup label.webex-incorrect,
.unchecked .webex-radiogroup label.webex-correct{
    border: 1px dotted rgb(211, 210, 210);
    background-color: white;
    border-radius: 0.1em !important;
    height: 2.5em;
}
