.webex-select, input.webex-solveme,
.unchecked .webex-radiogroup label.webex-incorrect,
.unchecked .webex-radiogroup label.webex-correct{
    padding: 3.5px; 
    border: 1.7px dotted rgb(0, 153, 255) !important;
    background-color: white;
    border-radius: 0.2em !important;
}

.btn {
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  text-transform: none !important;
  font-size: 1.1em;
}