.reveal {
    font-size: 32px; /* Adjust size as needed */
  }

  .reveal p:not(:first-child) {
    line-height: 1.1; /* Adjust spacing between lines */
    margin-bottom: 36px; /* Space between paragraphs */
    margin-top: 36px; /* Space between paragraphs */

  }


  .reveal ul:not(:first-child) {
    line-height: 1.1; /* Adjust spacing between lines */
    margin-top: 16px; /* Space between paragraphs */

  }